form{
    color: white;
}
.section_apropos{
    background-image: url("../image/iut_3.jpg");
    background-size: cover;

    width: 900px;
    height: 600px;
    
    border-radius: 5px;

    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 5%;
}

form{
    position: relative;
    left: 70%;
    top: 40px;

    background-color: #1d1d1d;

    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 3%;
    padding-right: 10%;
    
    width: 250px;
    border-radius: 5px;
}
form h2{
    font-size: 1.2em;
    margin-bottom: 9px;
}
form .role > h2{
    align-self: center;
}
form .message > h2{
    text-align: left;
}

form div:first-child{
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
}
.message input{
    background-color: grey;
}
div.role div input, div.role div label{
    margin-left: 3px;
}
.message input{
    width: 100%;
}
/*----------------------------mail----------------------------*/
.mail{
    display: flex;
    margin-bottom: 15%;
}
.mail input{
    height: 50%;
    margin-left: 2%;
    background-color: grey;
}
/*----------------------------bouton submit----------------------------*/
.button{
    display: flex;
    align-items: center;
    padding-top: 7%;
    
    
}
.button button{
	width:  90px;
	height: 40px;
    border-radius: 5px;
}
/*----------------------------MEDIA----------------------------*/

@media screen and (max-width: 1100px) {
    .section_apropos{
        background: none;
        width: 100%;
        height: min-content;
    }
    .section_apropos{
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    form{
        position: static;
    }
}